@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

.frontPage-top {
  display: flex;
  align-items: center;
}

.frontPage-header {
  font-family: 'Sigmar One', cursive;
  font-size: 3rem;
  padding: 2%;
  display: flex;
}

.frontPage-header h1 {
  margin: 0;
}

.frontPage-logo {
  padding: 2%;
  width: 20%;
}

@media (max-width: 750px) {
  .frontPage-logo {
    padding: 2%;
    width: 100%;
  }
  .frontPage-top {
    display: flex;
    justify-content: center;
  }

  .product-card {
    width: 100vw;
  }

  .product-name-description {
    margin: 3%;
  }
  .product-card-buttons-and-quantity {
    width: 100px;
  }
  .pagination-itemsPerPage {
    position: inherit;
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    width: 70%;
    height: 100px;
  }
  /* .pagination-buttons-group {
    display: flex;
    flex-direction: row;
  } */
}
